
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.topup{
    height: 100px;
    width: 100%;
  
  }


  .ff{
    padding: 10px 20px;
  
  }

/* Global styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

a {
    color: #ffffff;
    text-decoration: none;
}
/* Top */

.topL {
    cursor: pointer;
    display: flex;
    margin-right: auto;
    
}
.topL li {
    display: inline-block;
    padding: 0px 50px;
    margin: auto;
   
}
.topL li a {
    transition: all 0.3s ease 0s;
    text-align: center;
    display: block;
    
    
    
}
.topR{
    
    display: inline block;
    margin: 0%;
    align-items: center;
    /* margin: auto ;
    margin-left: 1090px;
    margin-bottom: 80px;
    margin-top: 10px; */
    
}

.topR li{
   
    display: inline-block;
    padding: 0px 20px;
    
  
}





.topL li a:hover {
    color: #5d8dd1;
    text-decoration: none;
}



/* Header */



header {
    background-color: #0249ae;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
   margin: auto;
    
   


}



nav ul {
    display: flex;
    list-style: none;
    margin-right: 1%;
    
  
    
    
}


.logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  

    
}

.Search {
    margin-top: auto;
    width: 150px;
}


/* Ipad testtttttttttttttttttttttttt */




    
form{
    margin: auto;
    display: flex;
    padding: 0px;
    
}


.hero {
    background-image: url('');
    background-size: cover;
    background-position: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    margin: auto;
    
    width: 100%;

  
}

.hero h1 {
    font-size: 4em;
    margin-bottom: 20px;
  
   

   
}

.hero form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin: auto;
    
   
}

.hero form div {
    margin-right: 15px;
   
    
}

.middle{
    width: 90%;
}

.hero form label {
    display: block;
    margin-bottom: 5px;
    
    

}

.hero form input[type="text"],
.hero form input[type="date"],
.hero form select {
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    
}

.hero form input[type="text"],
.hero form input[type="date"] {
    width: 100%;
    
}

.hero form select {
    width: 150px;
    
}

.hero form button[type="submit"] {
    background-color: #0070c9;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-left: 30px ;
}

.hero form button[type="submit"]:hover {
    background-color: #005fba;
   
}

/* Main content */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
 

    display: flex;
    justify-content: center;
    align-items: center;
}

.popular-destinations {
    margin-bottom: 50px;

    
    
}

.popular-destinations h2 {
    font-size: 32px;
    margin-bottom: 20px;
    display: flex;
    width: fit-content;
    margin: auto;

    
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
 
    
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: relative;
    
}

.YN{
    height: 10em;
    padding: 0.5em;
    
}


.card img {
    width: 100%;
    height: 200px;
   
}

button.gg {
    background-color: #0070c9;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    display: flex;
  
}


button.gg:hover{
    background-color: #005fba;
}

nav {
display: flex;
height: 80px;
background-color: #0249ae ;
}

svg.TopRegis {
   width: 27px;
    fill: #ffffff;
    display: flex;

}


button.cart {
    
    background: none;
    border: none;
    
}
button.cart:hover svg.TopRegis{
    fill: #5d8dd1;
    cursor: pointer;
    transition: 0.3s ease 0s;
    
  
}

.test{
    fill:white;
    width: 15px;
    display: flex;
    border: 1px solid black;
}

button.cc {
    background-color: #0070c9;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    margin-top: auto;


    
}

  .cc {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: .5em;
  }
  



/* Asd */
.container {
    margin: auto;
    width: 80%;
    padding: 10px;
  }




  h2.dis {

    color: #48f9ff;
    margin-right: 100px;
 

  }
  p.dis2 {
    color: #ffffff;
    margin-right: auto;
  }
  .discount-ad {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1d3c57;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    
  }
  
  .discount-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
   
  }
  
  .discount-text h2 {
    font-size: 3em;
    margin-bottom: 10px;
  
  }
  
  .discount-text p {
    font-size: 2em;
    margin-bottom: 20px;
    line-height: 1.2;
   
  }
  
  a.dis3 {
    background-color: #ffffff;
    color: #0070c9;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    text-decoration: none;
    cursor: pointer;
   
  }
  
  a.dis3:hover {
    background-color: #0070c9;
    color: #ffffff;
  }
  
  img {
    width: 300px;
    border-radius: 5px;
  }
  
  /* @media screen and (max-width: 1180px) {
    .discount-ad {
      flex-direction: column;
      align-items: center;
      width: auto;
    }
  
    img {
      width: 100%;
      margin-top: 20px;
    }

    nav {
        display: flex;
        height: 80px;
        width: 2400px;
        background-color: #0249ae ;
        }


.cta{
    display: flex;

    width: 100px;
    margin-top: 10px;
}
.topL li a {
    transition: all 0.3s ease 0s;

    text-align: center;
   margin-top: 10px;
    display: block;
    
}

.topR li{

    display: inline-block;
    margin: auto;
    margin-top: 10px;
margin-left: 500px;
  
}

.topup{
    height: 120px;;

  }
  
  header {
    background-color: #0249ae;
    width: 2400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
   margin: auto;
   

}

nav ul {
    display: flex;
    list-style: none;
    margin-right: 20px;
    
}

.ff {
 
    width: auto;

}

/* Main content */
/* main {

    
    padding: 100px 1195px;
    
border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular-destinations {
    margin-bottom: 50px;
border: solid;
   
 
   
}

.popular-destinations h2 {
    font-size: 32px;
    margin-bottom: 20px;
    display: flex;
    width: fit-content;
    margin: auto;

    
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

    
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    width: 350px;
  


}

.card img {
    width: 100%;
    height: 200px;
    

} 

  } */

  @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    /* CSS */
}



/* cart */


body{
    background-color: #E3E7E8;
    font-family: system-ui;
}
.containerC{
    width: 1000px;
    margin: auto;
    transition: 0.5s;
}

header .shopping{
    position: relative;
    text-align: right;
}
header .shopping img{
    width: 40px;
}
header .shopping span{
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 13px;
    left: 80%;
    padding: 3px 10px;
}
.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}
.list .item{
    text-align: center;
    background-color: #DCE0E1;
    padding: 20px;
    box-shadow: 0 50px 50px #757676;
    letter-spacing: 1px;
}
.list .item img{
    width: 90%;
}
.list .item .title{
    font-weight: 600;
}
.list .item .price{
    margin: 10px;
}
.list .item button{
    background-color: #1C1F25;
    color: #fff;
    width: 100%;
    padding: 10px;
}
.carder{
    position: fixed;
    top:0;
    left: 100%;
    width: 500px;
    background-color: #453E3B;
    height: 100vh;
    transition: 0.5s;
}
.active .carder{
    left: calc(100% - 500px);
}
.active .containerC{
   transform: translateX(-200px);
}
.carder h1{
    color: #e9e9e9;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}
.carder .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.carder .checkOut div{
    background-color: #1c5fbd;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.carder .checkOut div:nth-child(2){
    background-color: #1C1F25;
    color: #fff;
}
.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
}
.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCard li img{
    width: 90%;
}
.listCard li button{
    background-color: #fff5;
    border: none;
}
.listCard .count{
    margin: 0 10px;
}











  
