body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  header {
    background-color: #007bff;
    color: white;
    padding: 20px;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  .flight-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    
  }
  
  .flight-item h3 {
    margin-top: 0;
  }
  
  .flight-item button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .cart {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .cart-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .cart-total p {
    margin: 0;
  }
  
  .cart-total button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  